html
{
    font-family: 'Roboto', sans-serif;
    height: 90vh;
    background: #111111;
}

.body
{
    height: 70%;
    width: 75%;
    border-radius: 10px;
    text-align: center;
    margin: 5% auto;
    padding: 0.8% 1% 1% 1%;
    background: linear-gradient(180deg, hsl(10, 90%, 15%), #444444);
}

fieldset
{
	border: none;
}

textarea
{
	color: #888;
	background-color: #111111;
	border-style: none;
	border-radius: 6px;
}

.previous
{
	text-align: left;
}

.previous a
{
	color: #111111;
}

.previous a:hover
{
	color: #ee1111;
}

.previous a:active
{
	color: #eeeeee;
}

input
{
	height: 40%;
	width: 40%;
	background-color: #111;
	color: #dddddd;
	border-style: none;
	border-radius: 4px;
}

input:active
{
	background-color: #dddddd;
	color: #990000;
}