html
{
    font-family: 'Roboto', sans-serif;
    height: 90vh;
    background: #111111;
    color: #aaa;
}

.body
{
    height: 70%;
    width: 75%;
    border-radius: 10px;
    text-align: center;
    margin: 5% auto;
    padding: 0.8% 1% 1% 1%;
    background: linear-gradient(180deg, hsl(10, 90%, 15%), #444444);
}

fieldset
{
	border: none;
}

textarea
{
	color: #888;
	background-color: #111111;
	border-style: none;
	border-radius: 6px;
	font-size: 1.1em;
	min-width: 500px;
	max-width: 600px;
	min-height: 100px;
	max-height: 150px;
}

.previous
{
	text-align: left;
}

.previous a
{
	color: #111111;
}

.previous a:hover
{
	color: #ee1111;
}

.previous a:active
{
	color: #eeeeee;
}

select
{
	height: 1.8em;
	font-size: 0.9rem;
	background-color: #111111;
	border-style: none;
	color: #aaaaaa;
	border-radius: 4px;
}

input
{
	height: 2em;
	width: 40%;
	background-color: #111;
	color: #dddddd;
	border-style: none;
	border-radius: 4px;
	font-size: 1rem;
}

input:active
{
	background-color: #dddddd;
	color: #990000;
}