html
{
    background-color: rgb(248, 241, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Advent Pro', sans-serif;
}

img
{
    border-radius: 25px;
    width: 30%;
}

.table-container
{
    display: grid;
    align-items: center;
}

.table-1
{
    margin: 1em;
    border: 3px solid rgb(45, 45, 45);
    border-radius: 1%;
}

.table-2
{
    margin: 1em;   
    border: 3px solid rgb(45, 45, 45);
    border-radius: 1%;
}

th
{
    border: 2px solid rgb(73, 73, 73);
    border-radius: 2%;
}

td
{
    border: 2px solid gray;
    border-radius: 2%;
}

.audio-container
{
    display: flex;
}

.holyCloud
{
    align-self: left;
    width: 50%;
}

.Within
{
    align-self: right;
    width: 50%;
}

i
{
}