html
{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: #111111;
    color: #aaa;
}

p
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: hsl(0, 100%, 0%);
}

a:hover
{
    color: #ee1111;
}

a:active
{
    color: #eeeeee;
}

hr
{
    width: 95%;
}

.img-audio-hr
{
    width: 33%;
    margin-top: 4%;
    opacity: 33%;
}

/*HEADER*/


/*BODY*/
.body
{
    height: 100%;
    width: 75%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 0.8% 1% 1% 1%;
    background: linear-gradient(180deg, hsl(10, 90%, 15%), #444444);
}

/*NAV*/
#nav-container 
{
    display: inline-block;
    width: 100%;
}

.lista-nav
{
    margin-left: 0px;
    padding-left: 0px;
}

.lista-nav li
{
    display: inline-block;
}

.lista-nav a
{
    color: #adadad;
}

.lista-nav a:hover
{
    color: #111111;
}

.lista-nav a:active
{
    color: #880000;
}

/*MAIN*/

.markers-container
{
    width: 40%;
    height: 80%;
    margin: auto;
}

.marker1, .marker2, .marker3
{
    min-height: 25px;
    max-width: 215px;
    min-width: 169px;
    height: 25px;
    width: 100%;
    display: block;
    margin: 2.9% auto 2.9% auto;
    box-shadow: 1px -2px 15px 0px rgba(20, 20, 20, 0.9);
}
.marker1
{
    box-shadow: -10px 6px 30px 8px rgba(20, 20, 20, 0.9);
    background: linear-gradient(rgba(100, 100, 100, 0.1), rgba(0, 0, 0, 1.0) 40%, rgba(30, 30, 30, 0.5) 100%);
}
.marker2
{
    box-shadow: -8px 2px 40px 6px rgba(20, 20, 20, 0.9);
    background: linear-gradient(rgba(100, 100, 100, 0.05), rgba(0, 0, 0, 1.0) 40%, rgba(30, 30, 30, 0.150) 100%);
}
.marker3
{
    box-shadow: -1px -5px 30px 3px rgba(20, 20, 20, 0.6);
    background: linear-gradient(rgba(100, 100, 100, 0.1), rgba(0, 0, 0, 1.0) 40%, rgba(100, 100, 100, 0.150) 90.9%);
}

.cuerpo1
{
    width: 45%;
    height: 100%;     
    margin-left: 18%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.45));
    display: inline-block;
}

.cuerpo2
{
    width: 45%;
    height: 100%;     
    margin-left: 18%;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
    display: inline-block;
}

.cuerpo3
{
    width: 45%;
    height: 100%;     
    margin-left: 18%;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1.0));
    display: inline-block;
}

.tapa
{
    width: 1%;
    margin-left: 24%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1.0));
    display: inline-block;
}


#img-container
{
    width: 100%;
    display: flex;
    text-align: center;
}

figure
{
    margin: 0.2%;
    width: 100%;
}

figcaption
{
    width: 100%;
}

img
{
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}


#audio-container
{
    display: inline-block;
    text-align: center;
    width: 90%;
}

audio
{
    width: 100%;
}


/*FOOTER*/
#footer-container
{
    text-align: center;
}

footer ul
{
    padding: 0;
    list-style: outside none;
}

.next
{
    text-align: right;
    font-size: 15px;
}

p:last-child
{
    font-size: 3rem;
}